.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-container h1{
  color: white;
  opacity: 70%;
  font-weight: 100;
}

main {
  display: flex;
  height: 90vh;
  width: 100%;
  flex-direction: row;
  align-items: start;
  margin: 0;
  padding: 0;
  border: rgb(54, 54, 35) solid 1px;
}