body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* This removes both horizontal and vertical scrollbars */
}


body::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

  