.timeLine-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(24, 1fr); /* Each row is 1 hour (60px) */
    height: 100%;
    width: 20%;
    margin-top: 3.5em;
    grid-column: 1/2;
}

.timeMarker{
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 0.1em;
    color: white;
    opacity: 70%;
}