.todo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    /* border: green solid 2px; */
    border: rgb(85, 85, 85, 0.3) solid 0.2em;

    max-height: 100%;

}

.content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.buttons{
    display: flex;
}

.todo-container p{
    font-size: 1.1em;
    color: white;
    opacity: 70%;
    text-align: start;

}

